/* .meals-card {
  width: 70%;
  margin: auto;
  margin-top: -8rem;
} */
.meals {
  width: 60%;
  margin: auto;
  margin-top: -6rem;
}

.MealsLoading {
  color: white;
  text-align: center;
}

.meals ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
